<div id="<%= dom_id location %>">
  <p>
    <strong>Ip address:</strong>
    <%= location.ip_address %>
  </p>

  <p>
    <strong>Text address:</strong>
    <%= location.text_address %>
  </p>

</div>
