<h1>My Locations</h1>

<ul>
  <%# iterate over each location %>
  <% @locations.each do |location| %>
    <%# create new list item for each location %>
    <li>
      <%= link_to location.text_address, location_path(location) %>
      <!-- Add delete button -->
      <%# display a confirmation prompt to ensure the user intends to delete the location %>
      <%= link_to location_path(location), method: :delete, data: { confirm: 'Are you sure you want to delete this location?' } do %>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
    </li>
  <% end %>
</ul>

<!-- create a hyperlink with the text "New Location" that points to the new_location_path -->
<%= link_to 'New Location', new_location_path %>