<h1>My Locations</h1>

<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.text_address, location_path(location) %></li>
  <% end %>
</ul>

<!-- create a hyperlink with the text "New Location" that points to the new_location_path -->
<%= link_to 'New Location', new_location_path %>